.header {
  display:flex;
  justify-content: right;
	padding:2px;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background: #faf5d9;
}

/* Control the right side */
.right {
  right: 0;
  background: #faf5d9;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header_elements {
  margin-left: 8px;
  font-size: 10px;
}

.footer {
  display:flex;
  justify-content: left;
	padding:2px;
  padding-top:40px;
  font-size: 15px;
}

.search {
  width: 20%;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}

.footer_elements {
  margin-right: 2rem;
}

.App {
  font-family: sans-serif;
  font-size: 8px;
}

.headers{
  text-decoration: none;
  color: #ffffff;
  padding-left: 0.8rem;
  vertical-align: sub;
}

.headers2{
  text-decoration: none;
  padding-left: 1rem;
}

.background {
  font-family: sans-serif;
  background: #faf5d9;
}


.panel {
  background: #ffd900;
}

.right {
  text-align: right;
  padding-top: 0.5rem;
}

.bottom {
  text-align: bottom;
  text-align: left;
  padding-top: 0.5rem;
}

.home_img {
  width: 18rem;
  height: 18rem;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}

.logos {
  font-family: sans-serif;
  padding-top: 0.5rem;
}

.bot_half_page {
  font-family: sans-serif;
  padding-top: 3rem;
}

.btn {
  background-image: -webkit-linear-gradient(top, #e8be56, #be9c45);
  background-image: -moz-linear-gradient(top, #e8be56, #be9c45);
  background-image: -ms-linear-gradient(top, #e8be56, #be9c45);
  background-image: -o-linear-gradient(top, #e8be56, #be9c45);
  background-image: linear-gradient(to bottom, #e8be56, #be9c45);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 3px #666666;
  -moz-box-shadow: 0px 3px 3px #666666;
  box-shadow: 0px 3px 3px #666666;
  color: #000000;
  font-size: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #937937;
  background-image: -webkit-linear-gradient(top, #ba9f5b, #937937);
  background-image: -moz-linear-gradient(top, #ba9f5b, #937937);
  background-image: -ms-linear-gradient(top, #ba9f5b, #937937);
  background-image: -o-linear-gradient(top, #ba9f5b, #937937);
  background-image: linear-gradient(to bottom, #ba9f5b, #937937);
  text-decoration: none;
}