.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  }
  .popup {
    margin: 200px auto;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    width: 1100px;
    height: 1000px;
    position: relative;
    transition: all 0.1s ease-in-out;
    z-index : 1000
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 25px;
    transition: all 20ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .done {
    position: absolute;
    top: 10px;
    right: 50px;
    transition: all 20ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 120, 210);
  }

  .popup .close:hover {
    cursor: pointer;
    color: #000;
  }
  .popup .content {
    height: 90%;
    width: 100;
    overflow: auto;
  }
  
  .popup .image {
    display: block;
    max-height:400px;
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 700px) {
    .popup {
      width: 70%;
    }
  }
  